code/CH04-Schema/4-16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://www.example.org/test" 
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified">   
    <xsd:element name="course">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="teacher" type="xsd:string" form="unqualified"/>
            </xsd:sequence>
            <xsd:attribute name="code" type="xsd:string" form="qualified" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>