code/CH04-Schema/4-2.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://example.org/author">
	<xsd:complexType name="authorType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="age" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
