code/CH04-Schema/4-2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="bookType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="author" type="xsd:string"/>
			<xsd:element name="price" type="xsd:integer"/>
		</xsd:sequence>
		<xsd:attribute name="isbn" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>
