code/CH04-Schema/4-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:attribute name="code" type="xsd:string"/>
    
    <xsd:element name="course">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title" type="xsd:string"/>
                <xsd:element name="teacher" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute ref="code" use="required"/>
            <xsd:attribute name="location" type="xsd:string" use="prohibited"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
