code/CH04-Schema/4-7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="course">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="title" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="periods" type="xsd:integer" default="3"/>
            <xsd:attribute name="location" type="xsd:string" fixed="403"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

